<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--直接向控制台打印输出-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss} %-5level [%thread] %logger{30} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--声明日志的最低输出级别-->
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>